header.header 
  nav.header__navigation-block
  button.header__button
  nav 
header 

<header>
      <nav class="header__navigation-block">
        <button class="header__button">
          <img
            src="../images/menu-button.svg"
            alt="Кнопка для открытия каталога"
          />
        </button>
        <ul class="header__element header__list-about">
          <li class="header__list-about-item">
            <button class="header__list-about-item-buttom">new</button>
          </li>
          <li class="header__list-about-item">
            <a
              class="header__list-about-item-buttom"
              href="http://127.0.0.1:5500/client/views/catalog.html"
              >
              каталог
            </a>
          </li>
          <li class="header__list-about-item">
            <button class="header__list-about-item-buttom">о нас</button>
          </li>
        </ul>
        <h1 class="header__element header__title">
          <a href="http://127.0.0.1:5500/client/views/index.html">yanki</a>
        </h1>
        <ul class="header__element header__list-of-tools">
          <li class="header__list-of-tools-item">
            <button class="header__list-of-tools-item-button">
              <span>ru</span>
              <img
                src="../images/item.svg"
                alt="Кнопка для переключения языка сайта"
              />
            </button>
          </li>
          <li class="header__list-of-tools-item">
            <button class="header__list-of-tools-item-button">
              <span>uah</span>
              <img
                src="../images/item.svg"
                alt="Кнопка для переключения языка сайта"
              />
            </button>
          </li>
        </ul>
        <ul class="header__element header__list-of-things">
          <li class="header__list-of-things-item">
            <img
              src="../images/Group-2.svg"
              alt="Изображение иконки поискового поля"
            />
          </li>
          <li class="header__list-of-things-item">
            <img
              src="../images/search.svg"
              alt="Изображение иконки профиля пользователя в минималистичном стиле"
            />
          </li>
          <li class="header__list-of-things-item">
            <img
              src="../images/favorites.svg"
              alt="Иконка с изображением сердечка для перехода на страницу с избранными товарами пользователя"
            />
          </li>
          <li class="header__list-of-things-item">
            <img
              src="../images/basket.svg"
              alt="Иконка с изображением козины покупателя"
              />
          </li>
        </ul>
      </nav>
    </header>